.animation_base {
  opacity: 0;
  transition: all 1s;
  width: auto;
}

/* RIGHT */
.animation_right_hidden {
  transform: translateX(100%);
}

.animation_right_show {
  opacity: 1;
  width: auto;
  transform: translateX(0px);
}

/* LEFT */
.animation_left_hidden {
  transform: translateX(-100%);
}

.animation_left_show {
  opacity: 1;
  width: auto;

  transform: translateX(0px);
}

/* TOP */
.animation_top_hidden {
  transform: translateY(-50px);
}

.animation_top_show {
  opacity: 1;
  width: auto;

  transform: translateY(0px);
}

/* BOTTOM */
.animation_bottom_hidden {
  transform: translateY(100px);
}

.animation_bottom_show {
  opacity: 1;
  width: auto;

  transform: translateY(0px);
}
